.container
  .article_header.header
    = link_to articles_path do
      .article_headerLeft.header_left
        = image_tag 'back.png'
  .article_main.main#article-show{ data: { article_ids: [@article.id] }}
    = render 'article', article: @article
= javascript_pack_tag 'article'