@import 'variables';
// index
.article_headerLeft {
  width: 20px;
  height: 20px;

  img {
    width: 100%;
    display: block;
  }
}

.article_headerRight {
}

.article_userAvatar.dropdown {
  width: 30px;
  height: 30px;
  margin-left: auto;
  z-index: 20;

  img {
    width: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }
}

.article_userDropdown {
  top: 30px;
  right: 0;
  padding: 10px;
}

.article_main {
  margin-top: 22px;
}

.article_article {
  padding: 18px 0;
}

.article_articleHeader {
  display: flex;
  justify-content: space-between;
}

.article_articleUser {
  display: flex;
  gap: 8px;
  height: 40px;
}

.article_articleUserAvatar {
  width: 30px;
  height: 30px;

  img {
    width: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }
}

.article_articleUserAccount {
  font-size: 14px;
  font-weight: 500; 
}

.article_articlePostTime {
  font-size: 12px;
  color: $text-inactive-color;
}

.article_articleActions {
  width: 30px;
  height: 30px;
  padding: 10px 0;

  img {
    width: 100%;
    display: block;
  }
}

.article_articleDropdown {
  top: 30px;
  right: 0;
  width: 70px;
  padding: 10px;
  text-align: right;
}

.article_articleImages {
  margin-top: 12px;
  width: 100%;
  aspect-ratio: 343 / 225;
  display: grid;
  gap: 7px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article_articleImage {
  width: 100%;
  overflow: hidden;

  &.big {
    grid-column: 1 / 3;
  }

  &:first-child {
    grid-row: 1 / 3;

    img {
      height: 100%;
    }
  }

  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.article_articleReaction {
  margin-top: 12px;
  display: flex;
  gap: 14px;
}

.article_articleIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.article_articleLikesCount {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
}

.article_articleComment {
  font-size: 12px;
  display: flex;
  gap: 8px;
}

.article_articleCommentUser {
  font-weight: 500;
}


//articlePost
.articlePost_main {
  margin-top: 40px;
}

.articlePost_user {
  display: flex;
  gap: 18px;
}

.articlePost_userImage {
  width: 40px;
  height: 40px;
  position: relative;

  img {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.articlePost_userName {
  line-height: 40px;
  font-weight: 500;
}

.articlePost_form {
  margin-top: 12px;
}

.articlePost_textarea {
  width: 100%;
  height: 34px;
  min-height: 34px;
  border: none;
  border-bottom: 1px solid $text-inactive-color;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.articlePost_images_wrapper {
  margin-top: 16px;
}

.articlePost_submit{
  display: none;
}